html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    object-fit: cover;
    // display: block;
    width: 100%;
}

body {
    font-size: 18px;
    @extend %Rubik-Regular;
    color: $default;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
input,
textarea{
    padding: 16px 20px;
    color: #333333;
    @extend %Rubik-Regular;
}
*::placeholder {
    @extend %Rubik-Regular;
    font-size: 16px;
    color: #999999;
}
.wrapper{
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.link-btn{
    @extend %Rubik-Regular;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    background-color: $btnBgC;
    padding: 14px 20px 14px 17px;
    border: none;
    outline: none;
}
.section-title{
    @extend %DMSans-Bold;
    font-size: 36px;
    color: $title;
    text-align: center;
}

.breadcrumbs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0;
    background-color: #edf1f4;
    &__title{
        @extend %Rubik-Regular;
        font-size: 36px;
        line-height: 36px;
        color: $default;
        margin-bottom: 10px;
    }
}
.breadcrumbs-nav{
    &__link{
        @extend %Rubik-Regular;
        font-size: 14px;
        list-style: 24px;
        color: $default;
        opacity: .6;
        padding: 0 5px;
        position: relative;
        &:not(:last-child)::after{
            content: '/';
            position: absolute;
            right: -6px;
            top:2px;
        }
    }
}