%DMSans-Bold{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%DMSans-Medium{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}
%DMSans-Regular{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}
%Poppins-Bold{
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}
%Rubik-Medium{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}
%Rubik-Regular{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

// colors
$default : #243f4d;
$title: #191919;
$btnBgC: #a3bbc8;
$accent: #fcd7b6;
$lightGray: #f8f8f8;
$provPink: #fef7f0;
$gray: #8b8b8b;
$dark: #1a1a1a;
$formBgC: #fafafa;
$blueBayoux: #436372;
$mystic: #edf1f4;
$portGore: #1f2044;
$boulder: #7b7b7b;