.video {
    min-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        width: 127px;
        height: 127px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}